/// common
a {
  text-decoration: none;
  color: #333;
}
.wrap-center {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}
/// main
#hd{

  // z-index: 1;  
    .navbar{       
      position: fixed; 
      left: 50%;
      transform: translateX(-50%);       
      display: flex;
      justify-content: space-between;  
      background-color: #fff;
      border-bottom: 2px solid red;      
      h1{
        a{
          font-size: 1.5rem;

        }
      }
      ul{
        display: flex;
        align-items: center;
        margin: 0;
        li{
          margin: 0 1rem;
          a{
            transition: 0.7s ease;
            display: block;
            &:hover {
              color: dodgerblue;
            }
          }
        }
      }
      .hamburger{
        display: none;
        cursor: pointer;
        .bar{
          display: block;
          width: 25px;
          height: 3px;
          margin: 5px auto;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          background-color: #121244;
        }
      }
    }
}
#section-home {
  position: relative;
  top: 100px;
}