/// common
a {
  text-decoration: none;
  color: #333;
}

.wrap-center {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}

.divider {
  width: 3.25rem;
  height: 0;
  margin: 1.5rem auto;
  border: none;
  border-top: .2rem solid #f4623a;
  opacity: 1;
}

/* 임시 */
section>section:nth-child(even) {
  background-color: rgb(135, 235, 185);
  height: 600px;
}

section>section:nth-child(odd) {
  background-color: rgb(0, 71, 184);
  height: 600px;
}

/// main
#hd {
  background-color: #fff;
  border-bottom: 2px solid red;
  width: 100%;
  position: fixed;
  z-index: 1;

  // z-index: 1;  
  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      a {
        font-size: 1.5rem;

      }
    }

    ul {
      display: flex;

      // justify-content: space-between;
      li {
        margin: 0 1rem;

        a {
          transition: 0.7s ease;
          display: block;

          &:hover {
            color: dodgerblue;
          }
        }
      }
    }

    .hamburger {
      display: none;
      cursor: pointer;

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-color: #121244;
      }
    }
  }
}

#section-home {
  .home_home {
    position: relative;

    .home_content {
      width: 100%;
      max-width: 71.25rem;
      margin: 0 auto;
      padding: 7rem 2rem 4rem;
      text-align: center;

      .home_title {
        font-family: Black Han Sans, sans-serif;
        font-weight: 400;
        font-size: 4rem;
        color: #fff;
      }
      .home_description {
        margin: 0 auto 1rem;
        font-weight: 400;
        font-size: 1.25rem;
        color: hsla(0, 0%, 100%, .75);
      }
      .home_find-out-more {
        display: inline-block;
        padding: 0.5em;
        border: none;
        border-radius: 0.5em;
        background-color: #f4623a;
        /* line-height: 1.5; */
        cursor: pointer;
        a {
          font-weight: 400;
          font-size: 0.7em;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}