

@media(max-width:800px) {
  .navba{
    /* width: 500px; */
    /* background-color: red; */
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .hamburger.active .bar:nth-child(1) {
    width: 30px;
    transform: translateY(8px) rotate(-45deg);
  }

  .navbar .hamburger.active .bar:nth-child(3) {
    width: 30px;
    transform: translateY(-8px) rotate(45deg);
  }

  .navbar .ssh--nav-menu {
    position: absolute;
    right: -25rem;
    top: 70px;    
    flex-direction: column;    
    width: 12.5rem;
    transition: 0.5s;
  }

  .navbar .ssh--nav-menu.active {
    right: 0;    
  }
  .navbar .ssh--nav-menu.active .ssh--gnbList{
    /* background-color: aqua; */
    background-color: white;
    border-bottom: 1px solid darkblue;
    height: 3rem;
    padding-top: .5rem;
  }
}