@media (max-width: 767px) {
  .hamburger {
    display: block !important;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    width: 30px;
    transform: translateY(8px) rotate(-45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    width: 30px;
    transform: translateY(-8px) rotate(45deg);
  }
  .ssh--nav-menu {
    position: absolute;
    flex-direction: column;
    right: -25rem;
    top: 70px;
    width: 12.5rem;
    transition: 0.5s;
  }
  .ssh--nav-menu .ssh--gnbList {
    border: 1px solid darkblue;
  }
  .ssh--nav-menu .ssh--gnbList a {
    display: inline-block;
    background-color: white;
    width: 100%;
    line-height: 3rem;
  }
  .ssh--nav-menu.active {
    right: 0;
  }
}