@import "./mixin";

@include mobile {

  .hamburger{
    display: block !important;
  }
  .hamburger.active{
    .bar:nth-child(2){
      opacity: 0;
    }
    .bar:nth-child(1){
      width: 30px;
    transform: translateY(8px) rotate(-45deg);
    }
    .bar:nth-child(3){
      width: 30px;
    transform: translateY(-8px) rotate(45deg);
    }
  }
  .ssh--nav-menu{
    position: absolute;
    flex-direction: column;    
    right: -25rem;
    top: 70px;    
    width: 12.5rem;
    transition: 0.5s;
    .ssh--gnb-list{
      border: 1px solid #{$ssh-blue};
      a{
        display: inline-block;
        background-color: white;
        width: 100%;
        line-height: 3rem;
      }
    }
  }
  .ssh--nav-menu.active{
    right: 0;    
  }

  .ssh--about-main-wrap {
    width: 80%; 
  }

  .ssh--project-btn-group{
    display: flex;
    flex-direction: column;    
    width: 50%;
    margin: 0 auto;
  }

  .ssh--gitblog-main-wrap{
    display: block;
  }

    .swiper{ // SWIPER
      width: 100%;
      height: 100%;
    } // SWIPER

    .ssh--contact-wrap{
      form[name="contact-info"]{
        width: 90%;      
      }      
    }
  
} //mobile

@include tablet {
  .ssh--gitblog-main-wrap{
    display: flex;    
    // width: 100%;
    .ssh--gitblog-wrap{
      width: 50%;
      font-size: .8rem;
    } 
  }
  .ssh--about-main-wrap {
    width: 50%; 
  }
  .ssh--project-wrap{
    display: flex;
    .ssh--project-slide{
      width: 50%;
      height: 50%;
      margin: 1rem;
    }
    .ssh--project-btn-group{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
    }
  }

  .ssh--contact-wrap{
    form[name="contact-info"]{
      width: 70%;      
    }      
  }

  
#gnb .nav-link {
  border-bottom: 2px solid transparent !important;
}
#gnb .nav-link.active {
  border-bottom: 2px solid #{$ssh-blue} !important;
}
} // tablet

@include desktop {
  #hd{
    .logo-title::after{
      content: "Portfolio";
    }
  }
  .ssh--about-main-wrap {
    width: 30%;
  }
  .ssh--gitblog-main-wrap{
    display: flex;        
    .ssh--gitblog-wrap{
      
      width: 400px;
      height: 200px;
    } 
  }

  .ssh--project-wrap{
    display: flex;
    .ssh--project-slide{
      width: 40%;
      height: 40%;
      margin: 1rem;
    }
  }

  .ssh--techstacks-main-wrap{
    width: 70%;
    margin:  0 auto;
  }

  .ssh--contact-wrap{
    form[name="contact-info"]{
      width: 50%;      
    }      
  }
  
#gnb .nav-link {
  border-bottom: 2px solid transparent !important;
}
#gnb .nav-link.active {
  border-bottom: 2px solid #{$ssh-blue} !important;
}
} // desktop