* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.ssh--divider__main {
  width: 23.25rem;
  height: 0;
  margin: 1rem auto;
  border: none;
  border-top: 0.2rem solid #0062ff;
  opacity: 1;
}

.ssh--divider__sub {
  width: 3.25rem;
  height: 0;
  margin: 1rem auto;
  border: none;
  border-top: 0.2rem solid #f4623a;
  opacity: 1;
}

.ssh--divider__transparent {
  width: 1rem;
  height: 0;
  margin: 1.5rem auto;
  border: none;
  border-top: 0.2rem solid transparent;
  opacity: 1;
}

nav #gnb {
  white-space: nowrap;
}
nav #gnb .ssh--gnbList > a {
  padding-left: 1rem;
}

#section-wrap {
  top: 60px;
}
#section-wrap #section-about .ssh--about-main-wrap {
  width: 25%;
}