* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.ssh--divider__main {
  width: 23.25rem;
  height: 0;
  margin: 1rem auto;
  border: none;
  border-top: 0.2rem solid #0062ff;
  opacity: 1;
}

.ssh--divider__sub {
  width: 3.25rem;
  height: 0;
  margin: 1rem auto;
  border: none;
  border-top: 0.2rem solid #f4623a;
  opacity: 1;
}

.navbar #gnb .ssh--gnbList > a {
  padding-left: 1rem;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #121244;
}

#section-wrap #section-home {
  margin-top: 100px;
}
#section-wrap #section-about .ssh--about-main-wrap {
  width: 25%;
}
#section-wrap #section-gitblog .ssh--gitblog-wrap {
  width: 25%;
  background-color: wheat;
  border-radius: 0.75rem;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap {
  position: relative;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap:hover .ssh-techstacks-proficiency,
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap:hover .ssh--techstacks-name {
  opacity: 1;
  transition: 0.3s;
  transform: translate(-50%, 0%);
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap:hover .ssh--techstacks-icon {
  background-color: #0062ff;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap:hover .ssh--techstacks-icon > img {
  opacity: 0.25;
  transition: 0.3s;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh--techstacks-icon {
  opacity: 1;
  margin: 0.5rem;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh--techstacks-icon > img {
  width: 6rem;
  height: auto;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh--techstacks-name,
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh-techstacks-proficiency {
  opacity: 0;
  position: absolute;
  left: 50%;
  color: #fff;
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh--techstacks-name {
  top: 30%;
  transform: translate(-50%, -50%);
}
#section-wrap #section-techstacks .ssh--techstacks-main-wrap .ssh--techstacks-wrap .ssh-techstacks-proficiency {
  top: 50%;
  transform: translate(-50%, 50%);
}
#section-wrap #section-project .ssh--project-main-wrap .ssh--project-title {
  font-size: 1.5rem;
  font-weight: bold;
}
#section-wrap #section-project .ssh--project-main-wrap .ssh--project-wrap .ssh--project-slide .swiper {
  width: 25rem;
  height: 22rem;
  border: 1px solid #333;
}
#section-wrap #section-project .ssh--project-main-wrap .ssh--project-wrap .ssh--project-slide .swiper .swiper-wrapper .swiper-slide > img {
  width: 100%;
  height: 100%;
}
#section-wrap #section-project .ssh--project-main-wrap .ssh--project-wrap .ssh--project-info {
  width: 25rem;
}
#section-wrap #section-project .ssh--project-main-wrap .ssh--project-wrap .ssh--project-info .ssh--project-summary {
  white-space: pre-line;
}
#section-wrap #section-comment {
  height: 300px;
}

.modal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: white;
  border: 1px solid #333;
  border-radius: 1rem;
  z-index: 3;
}

body:before {
  content: "";
  position: fixed;
  background-color: #333;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}

.dark-box:before {
  display: block;
}

.showdiv {
  display: block !important;
}

.close-btn {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  border: 0;
  background-color: transparent;
}